{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        {% endblock title %}
    </title>


    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

    {% block additional_link %}
    {% endblock additional_link %}

    <style>
        .gradient-bg-blue {
            background: linear-gradient(to right, #A0BFE0, #c6ece7);
        }
        .gradient-bg-green {
            background: linear-gradient(to right, #E2F6CA, #ECF8F9);
        }
        .gradient-bg-body {
            background: linear-gradient(to bottom, #E2F6CA, #A0BFE0);
        }
    </style>

</head>

<body class="bg-gradient-to-r from-green-200 to-blue-300 text-gray-800">
    <nav class="gradient-bg-blue p-4 text-gray-800 font-semibold italic">
        <div class="container mx-auto flex justify-between items-center">
            <a href="#" class="text-xl font-semibold">Investor Hub</a>
            <div class="flex items-center space-x-4">
                <a href="#" class="hover:underline">Home</a>
                <a href="#" class="hover:underline">Profile</a>
                <a href="#" class="hover:underline">About</a>
                <div class="flex items-center space-x-2">
                    <img src="{% static 'img/PP.jpeg' %}" alt="User" class="w-8 h-8 rounded-full">
                    <span>John Doe</span>
                </div>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock content %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
</body>

</html>