{% extends '_base.html' %}
{% load compress %}
{% load static %}

{% block title %}
    Feed
{% endblock title %}


{% block content %}
<div class="container mx-auto mt-8">
    <!-- Sample Post 1 -->
    <div class="w-1/2 mx-auto p-6 rounded-lg shadow-md gradient-bg-green mb-6">
        <div class="flex flex-col  space-x-4">
            <div class="flex flex-row items-center">
                <img src="{% static 'img/PP.jpeg' %}" alt="User" class="w-10 h-10 rounded-full">
                <p class="text-gray-600 ml-5">John Doe - August 26, 2023</p>
            </div>
            <div class="mt-5">
                <h2 class="text-lg font-semibold">Exciting Startup Opportunity!</h2>
            </div>

            <div class="flex flex-col items-center">
                <img class="w-full rounded-md" src="{% static 'img/bg.jpg' %}" alt="">
            </div>
        </div>
        <p class="text-gray-700 mt-4">Looking for investors for our innovative project. Join us in shaping the future!
        </p>
        <div class="flex justify-between items-center mt-4">
            <div class="flex items-center space-x-1 text-gray-600">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 fill-current" viewBox="0 0 20 20">
                    <path
                        d="M10 1a9 9 0 1 0 9 9A9 9 0 0 0 10 1zm0 16a7 7 0 0 1-4.4-1.57 7 7 0 0 1-1.87-2.57A8.48 8.48 0 0 1 5 9.65a7.88 7.88 0 0 1 .08-1 7.07 7.07 0 0 1 .57-2 6.84 6.84 0 0 1 .72-1.14 6.91 6.91 0 0 1 1.02-1.33A6.71 6.71 0 0 1 10 3a6.77 6.77 0 0 1 3.26.81A7.14 7.14 0 0 1 14.33 6a7.7 7.7 0 0 1 .6 3 7.58 7.58 0 0 1-1.2 4.09A6.84 6.84 0 0 1 10 17z" />
                </svg>
                <span>Like</span>
            </div>
            <button class="gradient-bg-body text-gray-800 py-2 px-4 rounded-lg">Invest</button>
        </div>
        <div class="mt-4 flex items-center space-x-2">
            <textarea class="w-full p-2 rounded-lg border focus:ring-blue-500 "
                placeholder="Add a comment..."></textarea>
            <button class=" text-gray-800 py-2 px-4 rounded-lg  gradient-bg-body">Comment</button>
        </div>
    </div>

    <!-- Sample Post 2 -->
    <div class="w-1/2 mx-auto p-6 rounded-lg shadow-md gradient-bg-green mb-6">
        <div class="flex flex-col  space-x-4">
            <div class="flex flex-row items-center">
                <img src="{% static 'img/PP.jpeg' %}" alt="User" class="w-10 h-10 rounded-full">
                <p class="text-gray-600 ml-5">John Doe - August 26, 2023</p>
            </div>
            <div class="mt-5">
                <h2 class="text-lg font-semibold">Exciting Startup Opportunity!</h2>

            </div>

            <div class="flex flex-col items-center">
                <img class="w-full rounded-md" src="{% static 'img/bg.jpg' %}" alt="">
            </div>
        </div>
        <p class="text-gray-700 mt-4">Looking for investors for our innovative project. Join us in shaping the future!
        </p>
        <div class="flex justify-between items-center mt-4">
            <div class="flex items-center space-x-1 text-gray-600">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 fill-current" viewBox="0 0 20 20">
                    <path
                        d="M10 1a9 9 0 1 0 9 9A9 9 0 0 0 10 1zm0 16a7 7 0 0 1-4.4-1.57 7 7 0 0 1-1.87-2.57A8.48 8.48 0 0 1 5 9.65a7.88 7.88 0 0 1 .08-1 7.07 7.07 0 0 1 .57-2 6.84 6.84 0 0 1 .72-1.14 6.91 6.91 0 0 1 1.02-1.33A6.71 6.71 0 0 1 10 3a6.77 6.77 0 0 1 3.26.81A7.14 7.14 0 0 1 14.33 6a7.7 7.7 0 0 1 .6 3 7.58 7.58 0 0 1-1.2 4.09A6.84 6.84 0 0 1 10 17z" />
                </svg>
                <span>Like</span>
            </div>
            <button class="gradient-bg-body text-gray-800 py-2 px-4 rounded-lg">Invest</button>
        </div>
        <div class="mt-4 flex items-center space-x-2">
            <textarea class="w-full p-2 rounded-lg border focus:ring-blue-500 "
                placeholder="Add a comment..."></textarea>
            <button class=" text-gray-800 py-2 px-4 rounded-lg  gradient-bg-body">Comment</button>
        </div>
    </div>
</div>


{% endblock content %}