{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Investor Hub</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

    <style>
        /* Additional styles can be added here */
    </style>
</head>
<body class="bg-gradient-to-r from-green-200 to-blue-300 min-h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
        <h1 class="text-2xl font-semibold mb-4 italic">Investor Hub</h1>
        <form>
            <div class="mb-4">
                <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                <input type="email" id="email" name="email" class="mt-1 px-4 py-2 w-full border rounded-lg focus:ring-blue-500 focus:border-blue-500" placeholder="">
            </div>
            <div class="mb-6">
                <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                <input type="password" id="password" name="password" class="mt-1 px-4 py-2 w-full border rounded-lg focus:ring-blue-500 focus:border-blue-500" placeholder="">
            </div>
            <button type="submit" class="w-full bg-gradient-to-r from-green-200 to-blue-300 text-gray-700 py-2 rounded-lg">Login</button>
        </form>
        <p class="mt-4 text-sm text-gray-600">Don't have an account? <a href="#" class="text-blue-500 hover:underline">Sign up</a></p>
    </div>

    <script>
        const emailInput = document.getElementById('email');
        const passwordInput = document.getElementById('password');

        animatePlaceholder(emailInput, 'Enter email');
        animatePlaceholder(passwordInput, 'Enter password');

        function animatePlaceholder(inputElement, placeholderText) {
            let currentText = '';
            let currentIndex = 0;

            function updatePlaceholder() {
                inputElement.placeholder = currentText;
            }

            function typeNextCharacter() {
                currentText = placeholderText.slice(0, currentIndex + 1);
                updatePlaceholder();
                currentIndex++;

                if (currentIndex < placeholderText.length) {
                    setTimeout(typeNextCharacter, 100); // Adjust typing speed here
                }
            }

            inputElement.addEventListener('focus', () => {
                currentIndex = 0;
                typeNextCharacter();
            });
        }
    </script>
</body>
</html>